.swiper-pagination-bullet {
    background: rgb(163, 155, 155) !important;
    /* oddiy nuqtalar */
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: rgb(209, 202, 202) !important;
    /* aktiv nuqta */
    opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
    color: white !important;
    /* tugmalar rangi */
}
.swiper-pagination {
    bottom: 80px !important; /* 30px yuqoriga ko‘taradi */
  }
  